/* Importing the fonts from google fonts website*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

/* Removing Unnecessary Styles from Elements*/
html { -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html,body{ height: 100%; width: 100%; overflow:hidden; z-index:0; }

/* Using desired background-color, font-color, fonts-family & font-size */
body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #2A2A2A;
	text-align: left;
	background-color: #FAFBFC;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: 0.22s;
}

*{
	margin:0;
	padding: 0;
	border: none;
	background: none;
	outline: none;
	box-shadow: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
    position: relative;
}

/* For clear fixing the overflow */
*::after, *::before { content: ""; display: table; clear: both; }

a,button,[type="button"],[type="submit"],[type="reset"]{
	cursor:pointer;
	transition: 0.25s ease;
	color: #2A2A2A;
	border-radius:0;
}

/* TABLE CSS -- BEGINS */
table, th, td { border: none; }
table { width: 100%; display: table; border-collapse: collapse; border-spacing: 0; }
table.striped tr { border-bottom: none; }
table.striped > tbody > tr:nth-child(odd) { background-color: rgba(242, 242, 242, 0.5); }
table.striped > tbody > tr > td { border-radius: 0; }
table.highlight > tbody > tr { -webkit-transition: background-color .25s ease; transition: background-color .25s ease; }
table.highlight > tbody > tr:hover { background-color: rgba(242, 242, 242, 0.5); }
table.centered thead tr th, 
table.centered tbody tr td { text-align: center; }
tr { border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
td, th { padding: 15px 5px; display: table-cell; text-align: left; vertical-align: middle; border-radius: 2px; }
/* TABLE CSS -- ENDS */



input,textarea,select,textarea{
	border: 1px solid #E6E6E6;
	border-radius: 0.5px;
	background-color: #FAFBFC;
	color: #000000;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0;
	font-size: 16px;
	width: 100%;
}
input,textarea{
	display: block;
	float: left;
	min-height: 36px;
	max-height: auto;
}

textarea {height: 300px; resize: none; }
input:focus { outline: none; }


button,[type="button"],[type="submit"],[type="reset"]{
	border:none;
	text-shadow:none;
	font-size: 16px !important;
	font-family: 'Poppins', sans-serif;
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner { padding: 0; border-style: none; }

input[type="radio"],
input[type="checkbox"] 
{ box-sizing: border-box; padding: 0; min-height:20px; max-height:20px; width: 20px; cursor:pointer;}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] { -webkit-appearance: listbox; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { outline-offset: -2px; -webkit-appearance: none;}

[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { font: inherit; -webkit-appearance: button;}

[hidden],
.hidden{ display: none !important; }

progress { display: inline-block; vertical-align: baseline; }

hr { margin-top: 0; margin-bottom: 0; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.14); }

small,
.small { font-size: 80%; font-weight: 400; }

mark,
.mark { padding: 0.2em; background-color: #fcf8e3; }

code, .code { font-size: 16px; color: #607D8B; word-break: break-word; }
pre, .pre { display: block; unicode-bidi: embed; font-family: monospace; white-space: pre; }
a > code { color: inherit; }

i { line-height: inherit; }

mark, a, span { display: inline-block; }


/* LIST CSS -- BEGINS */
ul {list-style-type: none; overflow: hidden;}
li {display:block;}
/* LIST CSS -- ENDS */




/* COLORS CSS -- BEGINS */
.text-red         { color: #F44336 !important; }
.text-pink        { color: #E91E63 !important; }
.text-purple      { color: #9C27B0 !important; }
.text-deep-purple { color: #673AB7 !important; }
.text-indigo      { color: #3F51B5 !important; }
.text-blue        { color: #2196F3 !important; }
.text-light-blue  { color: #03A9F4 !important; }
.text-cyan        { color: #00BCD4 !important; }
.text-teal        { color: #009688 !important; }
.text-green       { color: #4CAF50 !important; }
.text-lime        { color: #CDDC39 !important; }
.text-yellow      { color: #FFEB3B !important; }
.text-amber       { color: #FFC107 !important; }
.text-orange      { color: #FF9800 !important; }
.text-deep-orange { color: #FF5722 !important; }
.text-brown       { color: #795548 !important; }
.text-gray	      { color: #EBEBEB !important; }
.text-dark-gray	  { color: #717273 !important; }
.text-blue-gray   { color: #607D8B !important; }
.text-black	      { color: #000000 !important; }
.text-white       { color: #FFFFFF !important; }
.text-default     { color: #FAFBFC !important; }



.is-transparent { background-color: transparent; color: #2A2A2A; }

.is-red-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-red-5       { background-color: #feeceb; color: #2A2A2A; }
.is-red-10		{ background-color: #fdd9d7; color: #2A2A2A; }
.is-red-15		{ background-color: #fcc7c3; color: #2A2A2A; }
.is-red-20		{ background-color: #fbb4af; color: #2A2A2A; }
.is-red-25		{ background-color: #faa19b; color: #FAFBFC; }
.is-red-30		{ background-color: #f88e86; color: #FAFBFC; }
.is-red-35		{ background-color: #f77b72; color: #FAFBFC; }
.is-red-40		{ background-color: #f6695e; color: #FAFBFC; }
.is-red-45		{ background-color: #f5564a; color: #FAFBFC; }
.is-red-50,
.is-red 		{ background-color: #f44336; color: #FAFBFC; }
.is-red-55		{ background-color: #dc3c31; color: #FAFBFC; }
.is-red-60		{ background-color: #c3362b; color: #FAFBFC; }
.is-red-65		{ background-color: #ab2f26; color: #FAFBFC; }
.is-red-70		{ background-color: #922820; color: #FAFBFC; }
.is-red-75		{ background-color: #7a221b; color: #FAFBFC; }
.is-red-80		{ background-color: #621b16; color: #FAFBFC; }
.is-red-85		{ background-color: #491410; color: #FAFBFC; }
.is-red-90		{ background-color: #310d0b; color: #FAFBFC; }
.is-red-95		{ background-color: #180705; color: #FAFBFC; }
.is-red-100		{ background-color: #000000; color: #FAFBFC; }


.is-pink-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-pink-5      { background-color: #fde9ef; color: #2A2A2A; }
.is-pink-10		{ background-color: #fbd2e0; color: #2A2A2A; }
.is-pink-15		{ background-color: #f8bcd0; color: #2A2A2A; }
.is-pink-20		{ background-color: #f6a5c1; color: #2A2A2A; }
.is-pink-25		{ background-color: #f48fb1; color: #FAFBFC; }
.is-pink-30		{ background-color: #f278a1; color: #FAFBFC; }
.is-pink-35		{ background-color: #f06292; color: #FAFBFC; }
.is-pink-40		{ background-color: #ed4b82; color: #FAFBFC; }
.is-pink-45		{ background-color: #eb3573; color: #FAFBFC; }
.is-pink-50,
.is-pink 		{ background-color: #e91e63; color: #FAFBFC; }
.is-pink-55		{ background-color: #d21b59; color: #FAFBFC; }
.is-pink-60		{ background-color: #ba184f; color: #FAFBFC; }
.is-pink-65		{ background-color: #a31545; color: #FAFBFC; }
.is-pink-70		{ background-color: #8c123b; color: #FAFBFC; }
.is-pink-75		{ background-color: #750f32; color: #FAFBFC; }
.is-pink-80		{ background-color: #5d0c28; color: #FAFBFC; }
.is-pink-85		{ background-color: #46091e; color: #FAFBFC; }
.is-pink-90		{ background-color: #2f0614; color: #FAFBFC; }
.is-pink-95		{ background-color: #17030a; color: #FAFBFC; }
.is-pink-100	{ background-color: #000000; color: #FAFBFC; }


.is-purple-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-purple-5      	{ background-color: #f5e9f7; color: #2A2A2A; }
.is-purple-10		{ background-color: #ebd4ef; color: #2A2A2A; }
.is-purple-15		{ background-color: #e1bee7; color: #2A2A2A; }
.is-purple-20		{ background-color: #d7a9df; color: #2A2A2A; }
.is-purple-25		{ background-color: #ce93d8; color: #FAFBFC; }
.is-purple-30		{ background-color: #c47dd0; color: #FAFBFC; }
.is-purple-35		{ background-color: #ba68c8; color: #FAFBFC; }
.is-purple-40		{ background-color: #b052c0; color: #FAFBFC; }
.is-purple-45		{ background-color: #a63db8; color: #FAFBFC; }
.is-purple-50,
.is-purple 			{ background-color: #9c27b0; color: #FAFBFC; }
.is-purple-55		{ background-color: #8c239e; color: #FAFBFC; }
.is-purple-60		{ background-color: #7d1f8d; color: #FAFBFC; }
.is-purple-65		{ background-color: #6d1b7b; color: #FAFBFC; }
.is-purple-70		{ background-color: #5e176a; color: #FAFBFC; }
.is-purple-75		{ background-color: #4e1458; color: #FAFBFC; }
.is-purple-80		{ background-color: #3e1046; color: #FAFBFC; }
.is-purple-85		{ background-color: #2f0c35; color: #FAFBFC; }
.is-purple-90		{ background-color: #1f0823; color: #FAFBFC; }
.is-purple-95		{ background-color: #100412; color: #FAFBFC; }
.is-purple-100		{ background-color: #000000; color: #FAFBFC; }


.is-deep-purple-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-deep-purple-5      	{ background-color: #f0ebf8; color: #2A2A2A; }
.is-deep-purple-10		{ background-color: #e1d8f1; color: #2A2A2A; }
.is-deep-purple-15		{ background-color: #d1c4e9; color: #2A2A2A; }
.is-deep-purple-20		{ background-color: #c2b0e2; color: #2A2A2A; }
.is-deep-purple-25		{ background-color: #b39ddb; color: #FAFBFC; }
.is-deep-purple-30		{ background-color: #a489d4; color: #FAFBFC; }
.is-deep-purple-35		{ background-color: #9575cd; color: #FAFBFC; }
.is-deep-purple-40		{ background-color: #8561c5; color: #FAFBFC; }
.is-deep-purple-45		{ background-color: #764ebe; color: #FAFBFC; }
.is-deep-purple-50,
.is-deep-purple 		{ background-color: #673ab7; color: #FAFBFC; }
.is-deep-purple-55		{ background-color: #5d34a5; color: #FAFBFC; }
.is-deep-purple-60		{ background-color: #522e92; color: #FAFBFC; }
.is-deep-purple-65		{ background-color: #482980; color: #FAFBFC; }
.is-deep-purple-70		{ background-color: #3e236e; color: #FAFBFC; }
.is-deep-purple-75		{ background-color: #341d5c; color: #FAFBFC; }
.is-deep-purple-80		{ background-color: #291749; color: #FAFBFC; }
.is-deep-purple-85		{ background-color: #1f1137; color: #FAFBFC; }
.is-deep-purple-90		{ background-color: #150c25; color: #FAFBFC; }
.is-deep-purple-95		{ background-color: #0a0612; color: #FAFBFC; }
.is-deep-purple-100		{ background-color: #000000; color: #FAFBFC; }


.is-indigo-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-indigo-5      	{ background-color: #eceef8; color: #2A2A2A; }
.is-indigo-10		{ background-color: #d9dcf0; color: #2A2A2A; }
.is-indigo-15		{ background-color: #c5cbe9; color: #2A2A2A; }
.is-indigo-20		{ background-color: #b2b9e1; color: #2A2A2A; }
.is-indigo-25		{ background-color: #9fa8da; color: #FAFBFC; }
.is-indigo-30		{ background-color: #8c97d3; color: #FAFBFC; }
.is-indigo-35		{ background-color: #7985cb; color: #FAFBFC; }
.is-indigo-40		{ background-color: #6574c4; color: #FAFBFC; }
.is-indigo-45		{ background-color: #5262bc; color: #FAFBFC; }
.is-indigo-50,
.is-indigo 		 	{ background-color: #3f51b5; color: #FAFBFC; }
.is-indigo-55		{ background-color: #3949a3; color: #FAFBFC; }
.is-indigo-60		{ background-color: #324191; color: #FAFBFC; }
.is-indigo-65		{ background-color: #2c397f; color: #FAFBFC; }
.is-indigo-70		{ background-color: #26316d; color: #FAFBFC; }
.is-indigo-75		{ background-color: #20295b; color: #FAFBFC; }
.is-indigo-80		{ background-color: #192048; color: #FAFBFC; }
.is-indigo-85		{ background-color: #131836; color: #FAFBFC; }
.is-indigo-90		{ background-color: #0d1024; color: #FAFBFC; }
.is-indigo-95		{ background-color: #060812; color: #FAFBFC; }
.is-indigo-100		{ background-color: #000000; color: #FAFBFC; }


.is-blue-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-blue-5      { background-color: #e9f5fe; color: #2A2A2A; }
.is-blue-10		{ background-color: #d3eafd; color: #2A2A2A; }
.is-blue-15		{ background-color: #bce0fb; color: #2A2A2A; }
.is-blue-20		{ background-color: #a6d5fa; color: #2A2A2A; }
.is-blue-25		{ background-color: #90cbf9; color: #FAFBFC; }
.is-blue-30		{ background-color: #7ac0f8; color: #FAFBFC; }
.is-blue-35		{ background-color: #64b6f7; color: #FAFBFC; }
.is-blue-40		{ background-color: #4dabf5; color: #FAFBFC; }
.is-blue-45		{ background-color: #37a1f4; color: #FAFBFC; }
.is-blue-50,
.is-blue 		{ background-color: #2196f3; color: #FAFBFC; }
.is-blue-55		{ background-color: #1e87db; color: #FAFBFC; }
.is-blue-60		{ background-color: #1a78c2; color: #FAFBFC; }
.is-blue-65		{ background-color: #1769aa; color: #FAFBFC; }
.is-blue-70		{ background-color: #145a92; color: #FAFBFC; }
.is-blue-75		{ background-color: #114b7a; color: #FAFBFC; }
.is-blue-80		{ background-color: #0d3c61; color: #FAFBFC; }
.is-blue-85		{ background-color: #0a2d49; color: #FAFBFC; }
.is-blue-90		{ background-color: #071e31; color: #FAFBFC; }
.is-blue-95		{ background-color: #030f18; color: #FAFBFC; }
.is-blue-100	{ background-color: #000000; color: #FAFBFC; }


.is-light-blue-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-light-blue-5      	{ background-color: #e6f6fe; color: #2A2A2A; }
.is-light-blue-10		{ background-color: #cdeefd; color: #2A2A2A; }
.is-light-blue-15		{ background-color: #b3e5fc; color: #2A2A2A; }
.is-light-blue-20		{ background-color: #9addfb; color: #2A2A2A; }
.is-light-blue-25		{ background-color: #81d4fa; color: #FAFBFC; }
.is-light-blue-30		{ background-color: #68cbf8; color: #FAFBFC; }
.is-light-blue-35		{ background-color: #4fc3f7; color: #FAFBFC; }
.is-light-blue-40		{ background-color: #35baf6; color: #FAFBFC; }
.is-light-blue-45		{ background-color: #1cb2f5; color: #FAFBFC; }
.is-light-blue-50,
.is-light-blue 			{ background-color: #03a9f4; color: #FAFBFC; }
.is-light-blue-55		{ background-color: #0398dc; color: #FAFBFC; }
.is-light-blue-60		{ background-color: #0287c3; color: #FAFBFC; }
.is-light-blue-65		{ background-color: #0276ab; color: #FAFBFC; }
.is-light-blue-70		{ background-color: #026592; color: #FAFBFC; }
.is-light-blue-75		{ background-color: #02557a; color: #FAFBFC; }
.is-light-blue-80		{ background-color: #014462; color: #FAFBFC; }
.is-light-blue-85		{ background-color: #013349; color: #FAFBFC; }
.is-light-blue-90		{ background-color: #012231; color: #FAFBFC; }
.is-light-blue-95		{ background-color: #001118; color: #FAFBFC; }
.is-light-blue-100		{ background-color: #000000; color: #FAFBFC; }


.is-cyan-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-cyan-5      { background-color: #e6f8fb; color: #2A2A2A; }
.is-cyan-10		{ background-color: #ccf2f6; color: #2A2A2A; }
.is-cyan-15		{ background-color: #b3ebf2; color: #2A2A2A; }
.is-cyan-20		{ background-color: #99e4ee; color: #2A2A2A; }
.is-cyan-25		{ background-color: #80deea; color: #FAFBFC; }
.is-cyan-30		{ background-color: #66d7e5; color: #FAFBFC; }
.is-cyan-35		{ background-color: #4dd0e1; color: #FAFBFC; }
.is-cyan-40		{ background-color: #33c9dd; color: #FAFBFC; }
.is-cyan-45		{ background-color: #1ac3d8; color: #FAFBFC; }
.is-cyan-50,
.is-cyan 		{ background-color: #00bcd4; color: #FAFBFC; }
.is-cyan-55		{ background-color: #00a9bf; color: #FAFBFC; }
.is-cyan-60		{ background-color: #0096aa; color: #FAFBFC; }
.is-cyan-65		{ background-color: #008494; color: #FAFBFC; }
.is-cyan-70		{ background-color: #00717f; color: #FAFBFC; }
.is-cyan-75		{ background-color: #005e6a; color: #FAFBFC; }
.is-cyan-80		{ background-color: #004b55; color: #FAFBFC; }
.is-cyan-85		{ background-color: #003840; color: #FAFBFC; }
.is-cyan-90		{ background-color: #00262a; color: #FAFBFC; }
.is-cyan-95		{ background-color: #001315; color: #FAFBFC; }
.is-cyan-100	{ background-color: #000000; color: #FAFBFC; }


.is-teal-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-teal-5      { background-color: #e6f5f3; color: #2A2A2A; }
.is-teal-10		{ background-color: #cceae7; color: #2A2A2A; }
.is-teal-15		{ background-color: #b3e0db; color: #2A2A2A; }
.is-teal-20		{ background-color: #99d5cf; color: #2A2A2A; }
.is-teal-25		{ background-color: #80cbc4; color: #FAFBFC; }
.is-teal-30		{ background-color: #66c0b8; color: #FAFBFC; }
.is-teal-35		{ background-color: #4db6ac; color: #FAFBFC; }
.is-teal-40		{ background-color: #33aba0; color: #FAFBFC; }
.is-teal-45		{ background-color: #1aa194; color: #FAFBFC; }
.is-teal-50,
.is-teal 		{ background-color: #009688; color: #FAFBFC; }
.is-teal-55		{ background-color: #00877a; color: #FAFBFC; }
.is-teal-60		{ background-color: #00786d; color: #FAFBFC; }
.is-teal-65		{ background-color: #00695f; color: #FAFBFC; }
.is-teal-70		{ background-color: #005a52; color: #FAFBFC; }
.is-teal-75		{ background-color: #004b44; color: #FAFBFC; }
.is-teal-80		{ background-color: #003c36; color: #FAFBFC; }
.is-teal-85		{ background-color: #002d29; color: #FAFBFC; }
.is-teal-90		{ background-color: #001e1b; color: #FAFBFC; }
.is-teal-95		{ background-color: #000f0e; color: #FAFBFC; }
.is-teal-100	{ background-color: #000000; color: #FAFBFC; }


.is-green-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-green-5     { background-color: #edf7ee; color: #2A2A2A; }
.is-green-10	{ background-color: #dbefdc; color: #2A2A2A; }
.is-green-15	{ background-color: #c9e7cb; color: #2A2A2A; }
.is-green-20	{ background-color: #b7dfb9; color: #2A2A2A; }
.is-green-25	{ background-color: #a6d7a8; color: #FAFBFC; }
.is-green-30	{ background-color: #94cf96; color: #FAFBFC; }
.is-green-35	{ background-color: #82c785; color: #FAFBFC; }
.is-green-40	{ background-color: #70bf73; color: #FAFBFC; }
.is-green-45	{ background-color: #5eb762; color: #FAFBFC; }
.is-green-50,
.is-green 		{ background-color: #4caf50; color: #FAFBFC; }
.is-green-55	{ background-color: #449e48; color: #FAFBFC; }
.is-green-60	{ background-color: #3d8c40; color: #FAFBFC; }
.is-green-65	{ background-color: #357a38; color: #FAFBFC; }
.is-green-70	{ background-color: #2e6930; color: #FAFBFC; }
.is-green-75	{ background-color: #265828; color: #FAFBFC; }
.is-green-80	{ background-color: #1e4620; color: #FAFBFC; }
.is-green-85	{ background-color: #173418; color: #FAFBFC; }
.is-green-90	{ background-color: #0f2310; color: #FAFBFC; }
.is-green-95	{ background-color: #081108; color: #FAFBFC; }
.is-green-100	{ background-color: #000000; color: #FAFBFC; }


.is-light-green-0	{ background-color: #ffffff; color: #2A2A2A; }
.is-light-green-5   { background-color: #f3f9ed; color: #2A2A2A; }
.is-light-green-10	{ background-color: #e8f3db; color: #2A2A2A; }
.is-light-green-15	{ background-color: #dcedc9; color: #2A2A2A; }
.is-light-green-20	{ background-color: #d1e7b7; color: #2A2A2A; }
.is-light-green-25	{ background-color: #c5e1a5; color: #FAFBFC; }
.is-light-green-30	{ background-color: #b9db92; color: #FAFBFC; }
.is-light-green-35	{ background-color: #aed580; color: #FAFBFC; }
.is-light-green-40	{ background-color: #a2cf6e; color: #FAFBFC; }
.is-light-green-45	{ background-color: #97c95c; color: #FAFBFC; }
.is-light-green-50,
.is-light-green 	{ background-color: #8bc34a; color: #FAFBFC; }
.is-light-green-55	{ background-color: #7db043; color: #FAFBFC; }
.is-light-green-60	{ background-color: #6f9c3b; color: #FAFBFC; }
.is-light-green-65	{ background-color: #618934; color: #FAFBFC; }
.is-light-green-70	{ background-color: #53752c; color: #FAFBFC; }
.is-light-green-75	{ background-color: #466225; color: #FAFBFC; }
.is-light-green-80	{ background-color: #384e1e; color: #FAFBFC; }
.is-light-green-85	{ background-color: #2a3a16; color: #FAFBFC; }
.is-light-green-90	{ background-color: #1c270f; color: #FAFBFC; }
.is-light-green-95	{ background-color: #0e1307; color: #FAFBFC; }
.is-light-green-100	{ background-color: #000000; color: #FAFBFC; }


.is-lime-0	{ background-color: #ffffff; color: #2A2A2A; }
.is-lime-5  { background-color: #fafceb; color: #2A2A2A; }
.is-lime-10	{ background-color: #f5f8d7; color: #2A2A2A; }
.is-lime-15	{ background-color: #f0f5c4; color: #2A2A2A; }
.is-lime-20	{ background-color: #ebf1b0; color: #2A2A2A; }
.is-lime-25	{ background-color: #e6ee9c; color: #FAFBFC; }
.is-lime-30	{ background-color: #e1ea88; color: #FAFBFC; }
.is-lime-35	{ background-color: #dce774; color: #FAFBFC; }
.is-lime-40	{ background-color: #d7e361; color: #FAFBFC; }
.is-lime-45	{ background-color: #d2e04d; color: #FAFBFC; }
.is-lime-50,
.is-lime 	{ background-color: #cddc39; color: #FAFBFC; }
.is-lime-55	{ background-color: #b9c633; color: #FAFBFC; }
.is-lime-60	{ background-color: #a4b02e; color: #FAFBFC; }
.is-lime-65	{ background-color: #909a28; color: #FAFBFC; }
.is-lime-70	{ background-color: #7b8422; color: #FAFBFC; }
.is-lime-75	{ background-color: #676e1d; color: #FAFBFC; }
.is-lime-80	{ background-color: #525817; color: #FAFBFC; }
.is-lime-85	{ background-color: #3d4211; color: #FAFBFC; }
.is-lime-90	{ background-color: #292c0b; color: #FAFBFC; }
.is-lime-95	{ background-color: #141606; color: #FAFBFC; }
.is-lime-100{ background-color: #000000; color: #FAFBFC; }


.is-yellow-0	{ background-color: #ffffff; color: #2A2A2A; }
.is-yellow-5 	{ background-color: #fffdeb; color: #2A2A2A; }
.is-yellow-10	{ background-color: #fffbd8; color: #2A2A2A; }
.is-yellow-15	{ background-color: #fff9c4; color: #2A2A2A; }
.is-yellow-20	{ background-color: #fff7b1; color: #2A2A2A; }
.is-yellow-25	{ background-color: #fff59d; color: #FAFBFC; }
.is-yellow-30	{ background-color: #fff389; color: #FAFBFC; }
.is-yellow-35	{ background-color: #fff176; color: #FAFBFC; }
.is-yellow-40	{ background-color: #ffef62; color: #FAFBFC; }
.is-yellow-45	{ background-color: #ffed4f; color: #FAFBFC; }
.is-yellow-50,
.is-yellow 		{ background-color: #ffeb3b; color: #FAFBFC; }
.is-yellow-55	{ background-color: #e6d435; color: #FAFBFC; }
.is-yellow-60	{ background-color: #ccbc2f; color: #FAFBFC; }
.is-yellow-65	{ background-color: #b3a529; color: #FAFBFC; }
.is-yellow-70	{ background-color: #998d23; color: #FAFBFC; }
.is-yellow-75	{ background-color: #80761e; color: #FAFBFC; }
.is-yellow-80	{ background-color: #665e18; color: #FAFBFC; }
.is-yellow-85	{ background-color: #4c4612; color: #FAFBFC; }
.is-yellow-90	{ background-color: #332f0c; color: #FAFBFC; }
.is-yellow-95	{ background-color: #191706; color: #FAFBFC; }
.is-yellow-100	{ background-color: #000000; color: #FAFBFC; }


.is-amber-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-amber-5 	{ background-color: #fff9e6; color: #2A2A2A; }
.is-amber-10	{ background-color: #fff3cd; color: #2A2A2A; }
.is-amber-15	{ background-color: #ffecb5; color: #2A2A2A; }
.is-amber-20	{ background-color: #ffe69c; color: #2A2A2A; }
.is-amber-25	{ background-color: #ffe083; color: #FAFBFC; }
.is-amber-30	{ background-color: #ffda6a; color: #FAFBFC; }
.is-amber-35	{ background-color: #ffd451; color: #FAFBFC; }
.is-amber-40	{ background-color: #ffcd39; color: #FAFBFC; }
.is-amber-45	{ background-color: #ffc720; color: #FAFBFC; }
.is-amber-50,
.is-amber 		{ background-color: #ffc107; color: #FAFBFC; }
.is-amber-55	{ background-color: #e6ae06; color: #FAFBFC; }
.is-amber-60	{ background-color: #cc9a06; color: #FAFBFC; }
.is-amber-65	{ background-color: #b38705; color: #FAFBFC; }
.is-amber-70	{ background-color: #997404; color: #FAFBFC; }
.is-amber-75	{ background-color: #806104; color: #FAFBFC; }
.is-amber-80	{ background-color: #664d03; color: #FAFBFC; }
.is-amber-85	{ background-color: #4c3a02; color: #FAFBFC; }
.is-amber-90	{ background-color: #332701; color: #FAFBFC; }
.is-amber-95	{ background-color: #191301; color: #FAFBFC; }
.is-amber-100	{ background-color: #000000; color: #FAFBFC; }


.is-orange-0	{ background-color: #ffffff; color: #2A2A2A; }
.is-orange-5 	{ background-color: #fff5e6; color: #2A2A2A; }
.is-orange-10	{ background-color: #ffeacc; color: #2A2A2A; }
.is-orange-15	{ background-color: #ffe0b3; color: #2A2A2A; }
.is-orange-20	{ background-color: #ffd699; color: #2A2A2A; }
.is-orange-25	{ background-color: #ffcc80; color: #FAFBFC; }
.is-orange-30	{ background-color: #ffc166; color: #FAFBFC; }
.is-orange-35	{ background-color: #ffb74d; color: #FAFBFC; }
.is-orange-40	{ background-color: #ffad33; color: #FAFBFC; }
.is-orange-45	{ background-color: #ffa21a; color: #FAFBFC; }
.is-orange-50,
.is-orange 		{ background-color: #ff9800; color: #FAFBFC; }
.is-orange-55	{ background-color: #e68900; color: #FAFBFC; }
.is-orange-60	{ background-color: #cc7a00; color: #FAFBFC; }
.is-orange-65	{ background-color: #b36a00; color: #FAFBFC; }
.is-orange-70	{ background-color: #995b00; color: #FAFBFC; }
.is-orange-75	{ background-color: #804c00; color: #FAFBFC; }
.is-orange-80	{ background-color: #663d00; color: #FAFBFC; }
.is-orange-85	{ background-color: #4c2e00; color: #FAFBFC; }
.is-orange-90	{ background-color: #331e00; color: #FAFBFC; }
.is-orange-95	{ background-color: #190f00; color: #FAFBFC; }
.is-orange-100	{ background-color: #000000; color: #FAFBFC; }


.is-deep-orange-0	{ background-color: #ffffff; color: #2A2A2A; }
.is-deep-orange-5 	{ background-color: #ffeee9; color: #2A2A2A; }
.is-deep-orange-10	{ background-color: #ffddd3; color: #2A2A2A; }
.is-deep-orange-15	{ background-color: #ffcdbd; color: #2A2A2A; }
.is-deep-orange-20	{ background-color: #ffbca7; color: #2A2A2A; }
.is-deep-orange-25	{ background-color: #ffab91; color: #FAFBFC; }
.is-deep-orange-30	{ background-color: #ff9a7a; color: #FAFBFC; }
.is-deep-orange-35	{ background-color: #ff8964; color: #FAFBFC; }
.is-deep-orange-40	{ background-color: #ff794e; color: #FAFBFC; }
.is-deep-orange-45	{ background-color: #ff6838; color: #FAFBFC; }
.is-deep-orange-50,
.is-deep-orange 	{ background-color: #ff5722; color: #FAFBFC; }
.is-deep-orange-55	{ background-color: #e64e1f; color: #FAFBFC; }
.is-deep-orange-60	{ background-color: #cc461b; color: #FAFBFC; }
.is-deep-orange-65	{ background-color: #b33d18; color: #FAFBFC; }
.is-deep-orange-70	{ background-color: #993414; color: #FAFBFC; }
.is-deep-orange-75	{ background-color: #802c11; color: #FAFBFC; }
.is-deep-orange-80	{ background-color: #66230e; color: #FAFBFC; }
.is-deep-orange-85	{ background-color: #4c1a0a; color: #FAFBFC; }
.is-deep-orange-90	{ background-color: #331107; color: #FAFBFC; }
.is-deep-orange-95	{ background-color: #190903; color: #FAFBFC; }
.is-deep-orange-100	{ background-color: #000000; color: #FAFBFC; }


.is-brown-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-brown-5 	{ background-color: #f2eeed; color: #2A2A2A; }
.is-brown-10	{ background-color: #e4ddda; color: #2A2A2A; }
.is-brown-15	{ background-color: #d7ccc8; color: #2A2A2A; }
.is-brown-20	{ background-color: #c9bbb6; color: #2A2A2A; }
.is-brown-25	{ background-color: #bcaaa4; color: #FAFBFC; }
.is-brown-30	{ background-color: #af9991; color: #FAFBFC; }
.is-brown-35	{ background-color: #a1887f; color: #FAFBFC; }
.is-brown-40	{ background-color: #94776d; color: #FAFBFC; }
.is-brown-45	{ background-color: #86665a; color: #FAFBFC; }
.is-brown-50,
.is-brown 		{ background-color: #795548; color: #FAFBFC; }
.is-brown-55	{ background-color: #6d4d41; color: #FAFBFC; }
.is-brown-60	{ background-color: #61443a; color: #FAFBFC; }
.is-brown-65	{ background-color: #553b32; color: #FAFBFC; }
.is-brown-70	{ background-color: #49332b; color: #FAFBFC; }
.is-brown-75	{ background-color: #3d2b24; color: #FAFBFC; }
.is-brown-80	{ background-color: #30221d; color: #FAFBFC; }
.is-brown-85	{ background-color: #241916; color: #FAFBFC; }
.is-brown-90	{ background-color: #18110e; color: #FAFBFC; }
.is-brown-95	{ background-color: #0c0807; color: #FAFBFC; }
.is-brown-100	{ background-color: #000000; color: #FAFBFC; }


.is-gray-0,.is-black-0,
.is-white-100,.is-white					{ background-color: #ffffff; color: #2A2A2A; }
.is-gray-5,.is-black-5,.is-white-95 	{ background-color: #f5f5f5; color: #2A2A2A; }
.is-gray-10,.is-black-10,.is-white-90	{ background-color: #ececec; color: #2A2A2A; }
.is-gray-15,.is-black-15,.is-white-85	{ background-color: #e2e2e2; color: #2A2A2A; }
.is-gray-20,.is-black-20,.is-white-80	{ background-color: #d8d8d8; color: #2A2A2A; }
.is-gray-25,.is-black-25,.is-white-75	{ background-color: #cfcfcf; color: #FAFBFC; }
.is-gray-30,.is-black-30,.is-white-70	{ background-color: #c5c5c5; color: #FAFBFC; }
.is-gray-35,.is-black-35,.is-white-65	{ background-color: #bbbbbb; color: #FAFBFC; }
.is-gray-40,.is-black-40,.is-white-60	{ background-color: #b1b1b1; color: #FAFBFC; }
.is-gray-45,.is-black-45,.is-white-55	{ background-color: #a8a8a8; color: #FAFBFC; }
.is-gray-50,
.is-gray,.is-black-50,.is-white-50	 	{ background-color: #9e9e9e; color: #FAFBFC; }
.is-gray-55,.is-black-55,.is-white-45	{ background-color: #8e8e8e; color: #FAFBFC; }
.is-gray-60,.is-black-60,.is-white-40	{ background-color: #7e7e7e; color: #FAFBFC; }
.is-gray-65,.is-black-65,.is-white-35	{ background-color: #6f6f6f; color: #FAFBFC; }
.is-gray-70,.is-black-70,.is-white-30	{ background-color: #5f5f5f; color: #FAFBFC; }
.is-gray-75,.is-black-75,.is-white-25	{ background-color: #4f4f4f; color: #FAFBFC; }
.is-gray-80,.is-black-80,.is-white-20	{ background-color: #3f3f3f; color: #FAFBFC; }
.is-gray-85,.is-black-85,.is-white-15	{ background-color: #2f2f2f; color: #FAFBFC; }
.is-gray-90,.is-black-90,.is-white-10	{ background-color: #202020; color: #FAFBFC; }
.is-gray-95,.is-black-95,.is-white-5	{ background-color: #101010; color: #FAFBFC; }
.is-gray-100,.is-black-100,
.is-white-0,.is-black					{ background-color: #000000; color: #FAFBFC; }


.is-blue-gray-0		{ background-color: #ffffff; color: #2A2A2A; }
.is-blue-gray-5 	{ background-color: #eff2f3; color: #2A2A2A; }
.is-blue-gray-10	{ background-color: #dfe5e8; color: #2A2A2A; }
.is-blue-gray-15	{ background-color: #cfd8dc; color: #2A2A2A; }
.is-blue-gray-20	{ background-color: #bfcbd1; color: #2A2A2A; }
.is-blue-gray-25	{ background-color: #b0bec5; color: #FAFBFC; }
.is-blue-gray-30	{ background-color: #a0b1b9; color: #FAFBFC; }
.is-blue-gray-35	{ background-color: #90a4ae; color: #FAFBFC; }
.is-blue-gray-40	{ background-color: #8097a2; color: #FAFBFC; }
.is-blue-gray-45	{ background-color: #708a97; color: #FAFBFC; }
.is-blue-gray-50,
.is-blue-gray 		{ background-color: #607d8b; color: #FAFBFC; }
.is-blue-gray-55	{ background-color: #56717d; color: #FAFBFC; }
.is-blue-gray-60	{ background-color: #4d646f; color: #FAFBFC; }
.is-blue-gray-65	{ background-color: #435861; color: #FAFBFC; }
.is-blue-gray-70	{ background-color: #3a4b53; color: #FAFBFC; }
.is-blue-gray-75	{ background-color: #303f46; color: #FAFBFC; }
.is-blue-gray-80	{ background-color: #263238; color: #FAFBFC; }
.is-blue-gray-85	{ background-color: #1d252a; color: #FAFBFC; }
.is-blue-gray-90	{ background-color: #13191c; color: #FAFBFC; }
.is-blue-gray-95	{ background-color: #0a0c0e; color: #FAFBFC; }
.is-blue-gray-100	{ background-color: #000000; color: #FAFBFC; }
/* COLORS CSS -- ENDS*/



/* FONT-AWESOME ICON CSS -- BEGINS */
.fa,.fas{ position:relative; top:2px; pointer-events: none;}
/* FONT-AWESOME ICON CSS -- ENDS */



/* VIDEO CSS -- BEGINS */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* VIDEO CSS -- ENDS*/





/* FLEXBOX CSS -- BEGINS */
.row { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.row.has-gap-0   > .col, .row.has-gap-0   > [class*="col-"] { padding-right: 0;     }
.row.has-gap-5   > .col, .row.has-gap-5   > [class*="col-"] { padding-right: 5px;   }
.row.has-gap-10  > .col, .row.has-gap-10  > [class*="col-"] { padding-right: 10px;  }
.row.has-gap-15  > .col, .row.has-gap-15  > [class*="col-"] { padding-right: 15px;  }
.row.has-gap-20  > .col, .row.has-gap-20  > [class*="col-"] { padding-right: 20px;  }
.row.has-gap-25  > .col, .row.has-gap-25  > [class*="col-"] { padding-right: 25px;  }
.row.has-gap-30  > .col, .row.has-gap-30  > [class*="col-"] { padding-right: 30px;  }
.row.has-gap-35  > .col, .row.has-gap-35  > [class*="col-"] { padding-right: 35px;  }
.row.has-gap-40  > .col, .row.has-gap-40  > [class*="col-"] { padding-right: 40px;  }
.row.has-gap-45  > .col, .row.has-gap-45  > [class*="col-"] { padding-right: 45px;  }
.row.has-gap-50  > .col, .row.has-gap-50  > [class*="col-"] { padding-right: 50px;  }
.row.has-gap-55  > .col, .row.has-gap-55  > [class*="col-"] { padding-right: 55px;  }
.row.has-gap-60  > .col, .row.has-gap-60  > [class*="col-"] { padding-right: 60px;  }
.row.has-gap-65  > .col, .row.has-gap-65  > [class*="col-"] { padding-right: 65px;  }
.row.has-gap-70  > .col, .row.has-gap-70  > [class*="col-"] { padding-right: 70px;  }
.row.has-gap-75  > .col, .row.has-gap-75  > [class*="col-"] { padding-right: 75px;  }
.row.has-gap-80  > .col, .row.has-gap-80  > [class*="col-"] { padding-right: 80px;  }
.row.has-gap-85  > .col, .row.has-gap-85  > [class*="col-"] { padding-right: 85px;  }
.row.has-gap-90  > .col, .row.has-gap-90  > [class*="col-"] { padding-right: 90px;  }
.row.has-gap-95  > .col, .row.has-gap-95  > [class*="col-"] { padding-right: 95px;  }
.row.has-gap-100 > .col, .row.has-gap-100 > [class*="col-"] { padding-right: 100px; }

.row[class*="has-gap-"] > .col:last-of-type,
.row[class*="has-gap-"] > [class*="col-"]:last-of-type { padding-right: 0; }

.col-0 ,
.col-5 , .col-10, .col-15, .col-20, .col-25 ,
.col-30, .col-33, .col-35, .col-40, .col-45, .col-50 ,
.col-55, .col-60, .col-65, .col-70, .col-75 ,
.col-80, .col-85, .col-90, .col-95, .col-100,
.col,
.col-auto { position: relative; width: 100%; }

.col      { -ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
.col-auto { -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: 100%; }

.col-0   {-ms-flex: 0 0 0;    flex: 0 0 0;    max-width: 0;   }
.col-5   {-ms-flex: 0 0 5%;   flex: 0 0 5%;   max-width: 5%;  }
.col-10  {-ms-flex: 0 0 10%;  flex: 0 0 10%;  max-width: 10%; }
.col-15  {-ms-flex: 0 0 15%;  flex: 0 0 15%;  max-width: 15%; }
.col-20  {-ms-flex: 0 0 20%;  flex: 0 0 20%;  max-width: 20%; }
.col-25  {-ms-flex: 0 0 25%;  flex: 0 0 25%;  max-width: 25%; }
.col-30  {-ms-flex: 0 0 30%;  flex: 0 0 30%;  max-width: 30%; }
.col-33  {-ms-flex: 0 0 33.3333%;  flex: 0 0 33.3333%;  max-width: 33.3333%; }
.col-35  {-ms-flex: 0 0 35%;  flex: 0 0 35%;  max-width: 35%; }
.col-40  {-ms-flex: 0 0 40%;  flex: 0 0 40%;  max-width: 40%; }
.col-45  {-ms-flex: 0 0 45%;  flex: 0 0 45%;  max-width: 45%; }
.col-50  {-ms-flex: 0 0 50%;  flex: 0 0 50%;  max-width: 50%; }
.col-55  {-ms-flex: 0 0 55%;  flex: 0 0 55%;  max-width: 55%; }
.col-60  {-ms-flex: 0 0 60%;  flex: 0 0 60%;  max-width: 60%; }
.col-65  {-ms-flex: 0 0 65%;  flex: 0 0 65%;  max-width: 65%; }
.col-70  {-ms-flex: 0 0 70%;  flex: 0 0 70%;  max-width: 70%; }
.col-75  {-ms-flex: 0 0 75%;  flex: 0 0 75%;  max-width: 75%; }
.col-80  {-ms-flex: 0 0 80%;  flex: 0 0 80%;  max-width: 80%; }
.col-85  {-ms-flex: 0 0 85%;  flex: 0 0 85%;  max-width: 85%; }
.col-90  {-ms-flex: 0 0 90%;  flex: 0 0 90%;  max-width: 90%; }
.col-95  {-ms-flex: 0 0 95%;  flex: 0 0 95%;  max-width: 95%; }
.col-100 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}

.order-first{ -ms-flex-order: -1; order: -1; }
.order-0 	{ -ms-flex-order: 0;  order: 0;  }
.order-1 	{ -ms-flex-order: 1;  order: 1;  }
.order-2 	{ -ms-flex-order: 2;  order: 2;  }
.order-3 	{ -ms-flex-order: 3;  order: 3;  }
.order-4 	{ -ms-flex-order: 4;  order: 4;  }
.order-5 	{ -ms-flex-order: 5;  order: 5;  }
.order-6 	{ -ms-flex-order: 6;  order: 6;  }
.order-7 	{ -ms-flex-order: 7;  order: 7;  }
.order-8 	{ -ms-flex-order: 8;  order: 8;  }
.order-9 	{ -ms-flex-order: 9;  order: 9;  }
.order-10 	{ -ms-flex-order: 10; order: 10; }
.order-11   { -ms-flex-order: 11; order: 11; }
.order-12   { -ms-flex-order: 12; order: 12; }
.order-13 	{ -ms-flex-order: 13; order: 13; }
.order-14 	{ -ms-flex-order: 14; order: 14; }
.order-15 	{ -ms-flex-order: 15; order: 15; }
.order-16 	{ -ms-flex-order: 16; order: 16; }
.order-17 	{ -ms-flex-order: 17; order: 17; }
.order-18 	{ -ms-flex-order: 18; order: 18; }
.order-19 	{ -ms-flex-order: 19; order: 19; }
.order-20 	{ -ms-flex-order: 20; order: 20; }
.order-last { -ms-flex-order: 21; order: 21; }

.offset-0  { margin-left: 0;   }
.offset-5  { margin-left: 5%;  }
.offset-10 { margin-left: 10%; }
.offset-15 { margin-left: 15%; }
.offset-20 { margin-left: 20%; }
.offset-25 { margin-left: 25%; }
.offset-30 { margin-left: 30%; }
.offset-35 { margin-left: 35%; }
.offset-40 { margin-left: 40%; }
.offset-45 { margin-left: 45%; }
.offset-50 { margin-left: 50%; }
.offset-55 { margin-left: 55%; }
.offset-60 { margin-left: 60%; }
.offset-65 { margin-left: 65%; }
.offset-70 { margin-left: 70%; }
.offset-75 { margin-left: 75%; }
.offset-80 { margin-left: 80%; }
.offset-85 { margin-left: 85%; }
.offset-90 { margin-left: 90%; }
.offset-95 { margin-left: 95%; }
.offset-100{ margin-left: 100%;}
/* FLEXBOX CSS -- ENDS*/



/* TYPOGRAPHY CSS -- BEGINS */

/* CSS FOR TITLES */
.t1,.t2,.t3,.t4,.t5,.t6 {font-weight: 600; line-height: 1.4;}
.t1 { font-size: 3.75rem; }
.t2 { font-size: 3.5rem;  }
.t3 { font-size: 3.25rem; }
.t4 { font-size: 3rem;    }
.t5 { font-size: 2.75rem; }
.t6 { font-size: 2.5rem;  }

/* CSS FOR HEADINGS */
h1,h2,h3,h4,h5,h6,p,.h1,.h2,.h3,.h4,.h5,.h6,.p {font-weight: 500; line-height: 1.2;}
h1,.h1        { font-size: 2.25rem; }
h2,.h2        { font-size: 2rem;    }
h3,.h3        { font-size: 1.75rem; }
h4,.h4        { font-size: 1.5rem;  }
h5,.h5        { font-size: 1.25rem; }
h6,.h6, p, .p { font-size: 1rem;    }

/* CSS FOR SUBTITLES */
.s1,.s2,.s3,.s4,.s5,.s6 {font-weight: 400; line-height: 1.0;}
.s1 { font-size: 0.95rem; }
.s2 { font-size: 0.90rem;  }
.s3 { font-size: 0.85rem; }
.s4 { font-size: 0.80rem;    }
.s5 { font-size: 0.75rem; }
.s6 { font-size: 0.70rem;  }

/* CSS FOR TEXT BOLDNESS */
b,.b,.bold { font-weight: 800; }

/* CSS FOR SMALL TEXT */
small,.small { font-size: 80%; padding: 1% 0; }

/* CSS FOR TEXT ALIGNMENT */
.text-left   { text-align: left;   }
.text-right  { text-align: right;  }
.text-center { text-align: center; }
.text-justify{ text-align: justify;}

/* CSS FOR TEXT DECORATION */
.text-overline  { text-decoration: overline;     }
.text-strike    { text-decoration: line-through; }
.text-underline { text-decoration: underline;    }
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-capital   { text-transform: capitalize;}
.text-cursive { font-family: 'Pacifico', cursive; }
.text-ellipsis { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
/* TYPOGRAPHY CSS -- ENDS */


/* DISPLAY TYPE CSS -- BEGINS */
.display-block { display: block; }
.display-inline { display: inline; }
.display-inline-block { display: inline-block; }
/* DISPLAY TYPE CSS -- ENDS */


/* CONTAINER CSS -- BEGINS*/
.outer-container,.inner-container { width: 100%; height: auto; margin: auto; }
@media (min-width: 576px)  { .inner-container {max-width: 540px; } }   /*  FOR MOBILES  */
@media (min-width: 768px)  { .inner-container {max-width: 720px; } }   /*  FOR TABLETS  */
@media (min-width: 992px)  { .inner-container {max-width: 960px; } }   /*  FOR LAPTOPS  */
@media (min-width: 1200px) { .inner-container {max-width: 1140px;} }   /*  FOR DESKTOPS */
/* CONTAINER CSS -- ENDS */


/* BUTTON CSS -- BEGINS */
.button{
	display: inline-block;
	padding: 0 16px;
	min-height: 36px;
	max-height: auto;
	line-height: 36px;
	border-radius: 1px;
	margin: 0 0;
	cursor: pointer;
	text-align: center;
	transition: 0.22s;
}
.button.rounded  { border-radius: 1000px; }
.button.outlined { border: 1px solid #9E9E9E;}
.button:hover{ -webkit-filter: invert(5%); filter: invert(5%); }
/*BUTTON CSS -- ENDS*/





/* WIDTH, HEIGHT, MARGIN, PADDING & SHADOW CSS STARTING */
.width-0   { width: 0;   }
.width-5   { width: 5%;  }
.width-10  { width: 10%; }
.width-15  { width: 15%; }
.width-20  { width: 20%; }
.width-25  { width: 25%; }
.width-30  { width: 30%; }
.width-35  { width: 35%; }
.width-40  { width: 40%; }
.width-45  { width: 45%; }
.width-50  { width: 50%; }
.width-55  { width: 55%; }
.width-60  { width: 60%; }
.width-65  { width: 65%; }
.width-70  { width: 70%; }
.width-75  { width: 75%; }
.width-80  { width: 80%; }
.width-85  { width: 85%; } 
.width-90  { width: 90%; }
.width-95  { width: 95%; }
.width-100 { width: 100%;}

.height-0   { height: 0;   }
.height-5   { height: 5%;  }
.height-10  { height: 10%; }
.height-15  { height: 15%; }
.height-20  { height: 20%; }
.height-25  { height: 25%; }
.height-30  { height: 30%; }
.height-35  { height: 35%; }
.height-40  { height: 40%; }
.height-45  { height: 45%; }
.height-50  { height: 50%; }
.height-55  { height: 55%; }
.height-60  { height: 60%; }
.height-65  { height: 65%; }
.height-70  { height: 70%; }
.height-75  { height: 75%; }
.height-80  { height: 80%; }
.height-85  { height: 85%; }
.height-90  { height: 90%; }
.height-95  { height: 95%; }
.height-100 { height: 100%;}

.size-5  {height:  4px;  width:  4px; }
.size-10 {height:  8px;  width:  8px; }
.size-15 {height: 12px;  width: 12px; }
.size-20 {height: 16px;  width: 16px; }
.size-25 {height: 20px;  width: 20px; }
.size-30 {height: 24px;  width: 24px; }
.size-35 {height: 28px;  width: 28px; }
.size-40 {height: 32px;  width: 32px; }
.size-45 {height: 36px;  width: 36px; }
.size-50 {height: 40px;  width: 40px; }
.size-55 {height: 44px;  width: 44px; }
.size-60 {height: 48px;  width: 48px; }
.size-65 {height: 52px;  width: 52px; }
.size-70 {height: 56px;  width: 56px; }
.size-75 {height: 60px;  width: 60px; }
.size-80 {height: 64px;  width: 64px; }
.size-85 {height: 68px;  width: 68px; }
.size-90 {height: 72px;  width: 72px; }
.size-95 {height: 76px;  width: 76px; }
.size-100{height: 80px;  width: 80px; }


[class*="radius-"]{overflow: hidden;}
.radius-0      { border-radius: 0;    }
.radius-5      { border-radius: 2px;  }
.radius-10     { border-radius: 4px;  }
.radius-15     { border-radius: 6px;  }
.radius-20     { border-radius: 8px;  }
.radius-25     { border-radius: 10px; }
.radius-30     { border-radius: 12px; }
.radius-35     { border-radius: 14px; }
.radius-40     { border-radius: 16px; }
.radius-45     { border-radius: 18px; }
.radius-50     { border-radius: 20px; }
.radius-55     { border-radius: 22px; }
.radius-60     { border-radius: 24px; }
.radius-65     { border-radius: 26px; }
.radius-70     { border-radius: 28px; }
.radius-75     { border-radius: 30px; }
.radius-80     { border-radius: 32px; }
.radius-85     { border-radius: 34px; }
.radius-90     { border-radius: 36px; }
.radius-95     { border-radius: 38px; }
.radius-100    { border-radius: 40px; }
.radius-circle { border-radius: 50%;  }

[class*="shadow-"]{transition: 0.25s !important;}
.shadow-0  {box-shadow: 0;}
.shadow-5  {box-shadow: 0 0.25px 0.75px rgba(0,0,0,0.03), 0 0.25px 0.5px rgba(0,0,0,0.06);}
.shadow-10 {box-shadow: 0 0.50px 1.50px rgba(0,0,0,0.06), 0 0.50px 1.0px rgba(0,0,0,0.12);}
.shadow-15 {box-shadow: 0 0.75px 2.25px rgba(0,0,0,0.09), 0 0.75px 1.5px rgba(0,0,0,0.18);}
.shadow-20 {box-shadow: 0 1.00px 3.00px rgba(0,0,0,0.12), 0 1.00px 2.0px rgba(0,0,0,0.24);}

.shadow-25 {box-shadow: 0 1.5px 3.75px rgba(0,0,0,0.13), 0 1.5px 3.0px rgba(0,0,0,0.2375);}
.shadow-30 {box-shadow: 0 2.0px 4.50px rgba(0,0,0,0.14), 0 2.0px 4.0px rgba(0,0,0,0.2350);}
.shadow-35 {box-shadow: 0 2.5px 5.25px rgba(0,0,0,0.15), 0 2.5px 5.0px rgba(0,0,0,0.2325);}
.shadow-40 {box-shadow: 0 3.0px 6.00px rgba(0,0,0,0.16), 0 3.0px 6.0px rgba(0,0,0,0.2300);}

.shadow-45 {box-shadow: 0 4.75px 9.50px rgba(0,0,0,0.1675), 0 3.75px 6.0px rgba(0,0,0,0.2300);}
.shadow-50 {box-shadow: 0 6.50px 13.0px rgba(0,0,0,0.1750), 0 4.50px 6.0px rgba(0,0,0,0.2300);}
.shadow-55 {box-shadow: 0 8.25px 16.5px rgba(0,0,0,0.1825), 0 5.25px 6.0px rgba(0,0,0,0.2300);}
.shadow-60 {box-shadow: 0 10.0px 20.0px rgba(0,0,0,0.1900), 0 6.00px 6.0px rgba(0,0,0,0.2300);}

.shadow-65 {box-shadow: 0 11.0px 22.0px rgba(0,0,0,0.2050), 0 7.0px 7.0px rgba(0,0,0,0.2275);}
.shadow-70 {box-shadow: 0 12.0px 24.0px rgba(0,0,0,0.2200), 0 8.0px 8.0px rgba(0,0,0,0.2250);}
.shadow-75 {box-shadow: 0 13.0px 26.0px rgba(0,0,0,0.2350), 0 9.0px 9.0px rgba(0,0,0,0.2225);}
.shadow-80 {box-shadow: 0 14.0px 28.0px rgba(0,0,0,0.2500), 0  10px  10px rgba(0,0,0,0.2200);}

.shadow-85 {box-shadow: 0 15.25px 30.5px rgba(0,0,0,0.2625), 0 11.25px 10.5px rgba(0,0,0,0.22);}
.shadow-90 {box-shadow: 0  16.5px   33px rgba(0,0,0,0.2750), 0  12.5px   11px rgba(0,0,0,0.22);}
.shadow-95 {box-shadow: 0 17.75px 35.5px rgba(0,0,0,0.2875), 0 13.75px 11.5px rgba(0,0,0,0.22);}
.shadow-100{box-shadow: 0    19px   38px rgba(0,0,0,0.3000), 0    15px   12px rgba(0,0,0,0.22);}


/* MARGIN SECTION */
.margin-x-auto,.margin-auto{margin-left:auto;margin-right:auto;}
.margin-y-auto,.margin-auto{margin-top:auto;margin-bottom:auto;}

.margin-top-0  ,.margin-y-0   ,.margin-0  { margin-top:  0px; }
.margin-top-5  ,.margin-y-5   ,.margin-5  { margin-top:  4px; }
.margin-top-10 ,.margin-y-10  ,.margin-10 { margin-top:  8px; }
.margin-top-15 ,.margin-y-15  ,.margin-15 { margin-top: 12px; }
.margin-top-20 ,.margin-y-20  ,.margin-20 { margin-top: 16px; }
.margin-top-25 ,.margin-y-25  ,.margin-25 { margin-top: 20px; }
.margin-top-30 ,.margin-y-30  ,.margin-30 { margin-top: 24px; }
.margin-top-35 ,.margin-y-35  ,.margin-35 { margin-top: 28px; }
.margin-top-40 ,.margin-y-40  ,.margin-40 { margin-top: 32px; }
.margin-top-45 ,.margin-y-45  ,.margin-45 { margin-top: 36px; }
.margin-top-50 ,.margin-y-50  ,.margin-50 { margin-top: 40px; }
.margin-top-55 ,.margin-y-55  ,.margin-55 { margin-top: 44px; }
.margin-top-60 ,.margin-y-60  ,.margin-60 { margin-top: 48px; }
.margin-top-65 ,.margin-y-65  ,.margin-65 { margin-top: 52px; }
.margin-top-70 ,.margin-y-70  ,.margin-70 { margin-top: 56px; }
.margin-top-75 ,.margin-y-75  ,.margin-75 { margin-top: 60px; }
.margin-top-80 ,.margin-y-80  ,.margin-80 { margin-top: 64px; }
.margin-top-85 ,.margin-y-85  ,.margin-85 { margin-top: 68px; }
.margin-top-90 ,.margin-y-90  ,.margin-90 { margin-top: 72px; }
.margin-top-95 ,.margin-y-95  ,.margin-95 { margin-top: 76px; }
.margin-top-100,.margin-y-100 ,.margin-100{ margin-top: 80px; }

.margin-bottom-0,.margin-y-0,.margin-0{margin-bottom: 0;}
.margin-bottom-5,.margin-y-5,.margin-5{margin-bottom: 4px;}
.margin-bottom-10,.margin-y-10,.margin-10{margin-bottom: 8px;}
.margin-bottom-15,.margin-y-15,.margin-15{margin-bottom: 12px;}
.margin-bottom-20,.margin-y-20,.margin-20{margin-bottom: 16px;}
.margin-bottom-25,.margin-y-25,.margin-25{margin-bottom: 20px;}
.margin-bottom-30,.margin-y-30,.margin-30{margin-bottom: 24px;}
.margin-bottom-35,.margin-y-35,.margin-35{margin-bottom: 28px;}
.margin-bottom-40,.margin-y-40,.margin-40{margin-bottom: 32px;}
.margin-bottom-45,.margin-y-45,.margin-45{margin-bottom: 36px;}
.margin-bottom-50,.margin-y-50,.margin-50{margin-bottom: 40px;}
.margin-bottom-55,.margin-y-55,.margin-55{margin-bottom: 44px;}
.margin-bottom-60,.margin-y-60,.margin-60{margin-bottom: 48px;}
.margin-bottom-65,.margin-y-65,.margin-65{margin-bottom: 52px;}
.margin-bottom-70,.margin-y-70,.margin-70{margin-bottom: 56px;}
.margin-bottom-75,.margin-y-75,.margin-75{margin-bottom: 60px;}
.margin-bottom-80,.margin-y-80,.margin-80{margin-bottom: 64px;}
.margin-bottom-85,.margin-y-85,.margin-85{margin-bottom: 68px;}
.margin-bottom-90,.margin-y-90,.margin-90{margin-bottom: 72px;}
.margin-bottom-95,.margin-y-95,.margin-95{margin-bottom: 76px;}
.margin-bottom-100,.margin-y-100,.margin-100{margin-bottom: 80px;}

.margin-left-0,.margin-x-0,.margin-0{margin-left: 0;}
.margin-left-5,.margin-x-5,.margin-5{margin-left: 4px;}
.margin-left-10,.margin-x-10,.margin-10{margin-left: 8px;}
.margin-left-15,.margin-x-15,.margin-15{margin-left: 12px;}
.margin-left-20,.margin-x-20,.margin-20{margin-left: 16px;}
.margin-left-25,.margin-x-25,.margin-25{margin-left: 20px;}
.margin-left-30,.margin-x-30,.margin-30{margin-left: 24px;}
.margin-left-35,.margin-x-35,.margin-35{margin-left: 28px;}
.margin-left-40,.margin-x-40,.margin-40{margin-left: 32px;}
.margin-left-45,.margin-x-45,.margin-45{margin-left: 36px;}
.margin-left-50,.margin-x-50,.margin-50{margin-left: 40px;}
.margin-left-55,.margin-x-55,.margin-55{margin-left: 44px;}
.margin-left-60,.margin-x-60,.margin-60{margin-left: 48px;}
.margin-left-65,.margin-x-65,.margin-65{margin-left: 52px;}
.margin-left-70,.margin-x-70,.margin-70{margin-left: 56px;}
.margin-left-75,.margin-x-75,.margin-75{margin-left: 60px;}
.margin-left-80,.margin-x-80,.margin-80{margin-left: 64px;}
.margin-left-85,.margin-x-85,.margin-85{margin-left: 68px;}
.margin-left-90,.margin-x-90,.margin-90{margin-left: 72px;}
.margin-left-95,.margin-x-95,.margin-95{margin-left: 76px;}
.margin-left-100,.margin-x-100,.margin-100{margin-left: 80px;}

.margin-right-0,.margin-x-0,.margin-0{margin-right: 0;}
.margin-right-5,.margin-x-5,.margin-5{margin-right: 4px;}
.margin-right-10,.margin-x-10,.margin-10{margin-right: 8px;}
.margin-right-15,.margin-x-15,.margin-15{margin-right: 12px;}
.margin-right-20,.margin-x-20,.margin-20{margin-right: 16px;}
.margin-right-25,.margin-x-25,.margin-25{margin-right: 20px;}
.margin-right-30,.margin-x-30,.margin-30{margin-right: 24px;}
.margin-right-35,.margin-x-35,.margin-35{margin-right: 28px;}
.margin-right-40,.margin-x-40,.margin-40{margin-right: 32px;}
.margin-right-45,.margin-x-45,.margin-45{margin-right: 36px;}
.margin-right-50,.margin-x-50,.margin-50{margin-right: 40px;}
.margin-right-55,.margin-x-55,.margin-55{margin-right: 44px;}
.margin-right-60,.margin-x-60,.margin-60{margin-right: 48px;}
.margin-right-65,.margin-x-65,.margin-65{margin-right: 52px;}
.margin-right-70,.margin-x-70,.margin-70{margin-right: 56px;}
.margin-right-75,.margin-x-75,.margin-75{margin-right: 60px;}
.margin-right-80,.margin-x-80,.margin-80{margin-right: 64px;}
.margin-right-85,.margin-x-85,.margin-85{margin-right: 68px;}
.margin-right-90,.margin-x-90,.margin-90{margin-right: 72px;}
.margin-right-95,.margin-x-95,.margin-95{margin-right: 76px;}
.margin-right-100,.margin-x-100,.margin-100{margin-right: 80px;}


/* PADDING SECTION */
.padding-top-0,.padding-y-0,.padding-0{padding-top: 0;}
.padding-top-5,.padding-y-5,.padding-5{padding-top: 4px;}
.padding-top-10,.padding-y-10,.padding-10{padding-top: 8px;}
.padding-top-15,.padding-y-15,.padding-15{padding-top: 12px;}
.padding-top-20,.padding-y-20,.padding-20{padding-top: 16px;}
.padding-top-25,.padding-y-25,.padding-25{padding-top: 20px;}
.padding-top-30,.padding-y-30,.padding-30{padding-top: 24px;}
.padding-top-35,.padding-y-35,.padding-35{padding-top: 28px;}
.padding-top-40,.padding-y-40,.padding-40{padding-top: 32px;}
.padding-top-45,.padding-y-45,.padding-45{padding-top: 36px;}
.padding-top-50,.padding-y-50,.padding-50{padding-top: 40px;}
.padding-top-55,.padding-y-55,.padding-55{padding-top: 44px;}
.padding-top-60,.padding-y-60,.padding-60{padding-top: 48px;}
.padding-top-65,.padding-y-65,.padding-65{padding-top: 52px;}
.padding-top-70,.padding-y-70,.padding-70{padding-top: 56px;}
.padding-top-75,.padding-y-75,.padding-75{padding-top: 60px;}
.padding-top-80,.padding-y-80,.padding-80{padding-top: 64px;}
.padding-top-85,.padding-y-85,.padding-85{padding-top: 68px;}
.padding-top-90,.padding-y-90,.padding-90{padding-top: 72px;}
.padding-top-95,.padding-y-95,.padding-95{padding-top: 76px;}
.padding-top-100,.padding-y-100,.padding-100{padding-top: 80px;}

.padding-bottom-0,.padding-y-0,.padding-0{padding-bottom: 0;}
.padding-bottom-5,.padding-y-5,.padding-5{padding-bottom: 4px;}
.padding-bottom-10,.padding-y-10,.padding-10{padding-bottom: 8px;}
.padding-bottom-15,.padding-y-15,.padding-15{padding-bottom: 12px;}
.padding-bottom-20,.padding-y-20,.padding-20{padding-bottom: 16px;}
.padding-bottom-25,.padding-y-25,.padding-25{padding-bottom: 20px;}
.padding-bottom-30,.padding-y-30,.padding-30{padding-bottom: 24px;}
.padding-bottom-35,.padding-y-35,.padding-35{padding-bottom: 28px;}
.padding-bottom-40,.padding-y-40,.padding-40{padding-bottom: 32px;}
.padding-bottom-45,.padding-y-45,.padding-45{padding-bottom: 36px;}
.padding-bottom-50,.padding-y-50,.padding-50{padding-bottom: 40px;}
.padding-bottom-55,.padding-y-55,.padding-55{padding-bottom: 44px;}
.padding-bottom-60,.padding-y-60,.padding-60{padding-bottom: 48px;}
.padding-bottom-65,.padding-y-65,.padding-65{padding-bottom: 52px;}
.padding-bottom-70,.padding-y-70,.padding-70{padding-bottom: 56px;}
.padding-bottom-75,.padding-y-75,.padding-75{padding-bottom: 60px;}
.padding-bottom-80,.padding-y-80,.padding-80{padding-bottom: 64px;}
.padding-bottom-85,.padding-y-85,.padding-85{padding-bottom: 68px;}
.padding-bottom-90,.padding-y-90,.padding-90{padding-bottom: 72px;}
.padding-bottom-95,.padding-y-95,.padding-95{padding-bottom: 76px;}
.padding-bottom-100,.padding-y-100,.padding-100{padding-bottom: 80px;}

.padding-left-0,.padding-x-0,.padding-0{padding-left: 0;}
.padding-left-5,.padding-x-5,.padding-5{padding-left: 4px;}
.padding-left-10,.padding-x-10,.padding-10{padding-left: 8px;}
.padding-left-15,.padding-x-15,.padding-15{padding-left: 12px;}
.padding-left-20,.padding-x-20,.padding-20{padding-left: 16px;}
.padding-left-25,.padding-x-25,.padding-25{padding-left: 20px;}
.padding-left-30,.padding-x-30,.padding-30{padding-left: 24px;}
.padding-left-35,.padding-x-35,.padding-35{padding-left: 28px;}
.padding-left-40,.padding-x-40,.padding-40{padding-left: 32px;}
.padding-left-45,.padding-x-45,.padding-45{padding-left: 36px;}
.padding-left-50,.padding-x-50,.padding-50{padding-left: 40px;}
.padding-left-55,.padding-x-55,.padding-55{padding-left: 44px;}
.padding-left-60,.padding-x-60,.padding-60{padding-left: 48px;}
.padding-left-65,.padding-x-65,.padding-65{padding-left: 52px;}
.padding-left-70,.padding-x-70,.padding-70{padding-left: 56px;}
.padding-left-75,.padding-x-75,.padding-75{padding-left: 60px;}
.padding-left-80,.padding-x-80,.padding-80{padding-left: 64px;}
.padding-left-85,.padding-x-85,.padding-85{padding-left: 68px;}
.padding-left-90,.padding-x-90,.padding-90{padding-left: 72px;}
.padding-left-95,.padding-x-95,.padding-95{padding-left: 76px;}
.padding-left-100,.padding-x-100,.padding-100{padding-left: 80px;}

.padding-right-0,.padding-x-0,.padding-0 {padding-right: 0;}
.padding-right-5,.padding-x-5,.padding-5 {padding-right: 4px;}
.padding-right-10,.padding-x-10,.padding-10 {padding-right: 8px;}
.padding-right-15,.padding-x-15,.padding-15 {padding-right: 12px;}
.padding-right-20,.padding-x-20,.padding-20 {padding-right: 16px;}
.padding-right-25,.padding-x-25,.padding-25 {padding-right: 20px;}
.padding-right-30,.padding-x-30,.padding-30 {padding-right: 24px;}
.padding-right-35,.padding-x-35,.padding-35 {padding-right: 28px;}
.padding-right-40,.padding-x-40,.padding-40 {padding-right: 32px;}
.padding-right-45,.padding-x-45,.padding-45 {padding-right: 36px;}
.padding-right-50,.padding-x-50,.padding-50 {padding-right: 40px;}
.padding-right-55,.padding-x-55,.padding-55 {padding-right: 44px;}
.padding-right-60,.padding-x-60,.padding-60 {padding-right: 48px;}
.padding-right-65,.padding-x-65,.padding-65 {padding-right: 52px;}
.padding-right-70,.padding-x-70,.padding-70 {padding-right: 56px;}
.padding-right-75,.padding-x-75,.padding-75 {padding-right: 60px;}
.padding-right-80,.padding-x-80,.padding-80 {padding-right: 64px;}
.padding-right-85,.padding-x-85,.padding-85 {padding-right: 68px;}
.padding-right-90,.padding-x-90,.padding-90 {padding-right: 72px;}
.padding-right-95,.padding-x-95,.padding-95 {padding-right: 76px;}
.padding-right-100,.padding-x-100,.padding-100 {padding-right: 80px;}
/* WIDTH, HEIGHT, MARGIN, PADDING & SHADOW CSS ENDING */





/* FLOAT CSS -- BEGINS */
.float-left {float:left;}
.float-right {float:right;}
.float-center {display: block; margin-left: auto; margin-right: auto;}
.float-none {float: none;}

/* FLOAT CSS -- ENDS*/





/* POSITION CSS -- BEGINS*/
.sticky,.fixed {z-index:100;}
.sticky {position:sticky; -webkit-position: sticky;}
.fixed {position:fixed; -webkit-position: fixed;}
.top{ top:0; }
.left{ left:0; }
.right{ right:0; }
.bottom{ bottom:0; }
/* POSITION CSS -- ENDS */





/* CURSOR CSS -- BEGINS */
.cursor-pointer{cursor: pointer;}
.cursor-default{cursor: default;}
/* CURSOR CSS -- ENDS */





/* IMAGE CSS -- BEGINS */
img{
	display: block;
	vertical-align: middle;
	border-style: none;
	position: relative;
	width: 100%;
}
/* IMAGE CSS -- ENDS */



.is-hamburger{
	display: flex;
	flex-direction: column;
	height: 100%;
	z-index : 150;
    position: fixed;
    left: 0;
	top:0;
    width: 280px;
    transform: translateX(-280px);
    transition: transform 280ms ease-in-out;
    overflow-y: auto !important;
}
.is-hamburger.slides-left{
	right: 0;
	transform: translateX(calc(100vw + 280px));
}
.is-hamburger.slides-top{
	top: 100%;
	height: 320px;
	width: 100%;
	transform: translateY(0);
}
.is-hamburger.slides-bottom{
	top: 0;
	height: 320px;
	width: 100%;
	transform: translateY(-320px);
}
.is-hamburger-toggler:checked + .is-hamburger {
    transform: translateX(0);
}
.is-hamburger-toggler:checked + .is-hamburger.slides-left {
    transform: translateX(calc(100vw - 280px));
}
.is-hamburger-toggler:checked + .is-hamburger.slides-top {
    transform: translateY(-320px);
	visibility: visible !important;
}
.is-hamburger-toggler:checked + .is-hamburger.slides-bottom {
    transform: translateY(0);
	visibility: visible !important;
}

.is-hamburger-toggler{
    box-sizing: border-box;
    display: none;
}



/* MODAL CSS -- BEGINS */
.modal{
	display: none;
	height: 100%;
	width: 100%;
	position:fixed;
	top: 0;
	left:0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.75);
	overflow: auto;
}
.modal .close{ cursor: pointer; }
/* MODAL CSS -- ENDS */


/* DROPDOWN CSS -- BEGINS */
.dropdown{ display: inline-block; }
.dropdown-content{
	display: none;
	position: absolute;
	min-width: 120px;
	max-width: auto;
	z-index: : 900 !important;
}
/* DROPDOWN CSS -- ENDS */



/* SLIDER CSS -- BEGINS */
.slider{ overflow: hidden; z-index: -100 !important; }
.slider > .slide{ width: 100%; display: none; }
/* SLIDER CSS ENDS */



/* CSS FOR CENTER POSITIONING STARTING */
.center{
   position: relative;
   top: 50%;
   left: 50%; 			
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%); 
   -ms-transform: translate(-50%, -50%); 
   -o-transform: translate(-50%, -50%); 
   transform: translate(-50%, -50%); 
}
/* CSS FOR CENTER POSITIONING ENDING */



/* CSS FOR ACCORDIAN STARTING */
.accordian > .item >.content{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out; 
}
/* CSS FOR ACCORDIAN ENDING */